h1 {
    color: #00a6ff;
    font-face: Arial'
}

h2 {
    color: white
    font-face: Arial'
}

p {
    color: white;
    font-size: 1.5em;
}

body {
    color: white;
    background-color: #202020
}

a {
    color: #34eb80;
}
